<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Usuarios</title>
</head>
<body>
    <h3>Gestión de Usuarios</h3><br>
    <a href="/agregausuario">Agregar un nuevo usuario</a><br>
    <table border>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Operaciones</th>             
            </tr>
        </thead>
        <tbody>
            {% for u in usua %}
                <tr>
                    <td>
                        {{u[0]}}
                    </td>
                    <td>
                        {{u[1]}}
                    </td>
                    <td>
                        <img src="/uploads/{{u[3]}}" width="100" alt="">
                    </td>
                    <td>
                        <a href="/modificausuario/{{u[0]}}">Modificar</a>
                        <a href="/eliminausuario/{{u[0]}}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>